.connection {
  width: 200px;

  &__title {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Quicksand';
    color: darken(#ccc, 30%);
    text-transform: uppercase;
    margin: 0;
  }

  &__description {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Quicksand';
    color: #ccc;
    margin: 0;
  }
}
